.features {
  &__box {
    display: flex;
    flex-flow: row wrap;
    padding: 6rem 4rem;

    .feature {
      width: 33.33%;
      margin-top: 2rem;
      padding: 2rem;

      @include respond(ten) {
        width: 50%;
      }

      @include respond(seven) {
        margin-top: 3rem;
      }

      @include respond(sixPointFive) {
        width: 90%;
        margin: auto;
      }
    }
  }
}
